---
layout: archive
title: "Presentations at scientific meetings"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of the places I have given a presentation.</a></p>

{% endif %}

<h2>Invited talks</h2>
{% for post in site.invitedtalks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Contributed talks</h2>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Posters</h2>
{% for post in site.posters reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
